{[template "backend/common/header.tmpl" .]}

<div class="layui-fluid">
    <div class="layui-col-md12" style="padding: 5px;">
        <div class="layui-card">
            <div class="layui-card-body">

                <div class="layui-tab layui-tab-brief">
                    <ul class="layui-tab-title" id="status">
                        {[range $menu := .submenu]}
                            <li data-status="{[$menu.Number]}" {[if eq (print "/" $.admin_path "/" $menu.Link) $.CurrentPath]}class="layui-this"{[end]}><a href="/{[$.admin_path]}/{[$menu.Link]}?cluster_id={[$.cluster_id]}">{[$menu.Name]}</a></li>
                        {[end]}
                    </ul>
                </div>

                <div class="layui-form toolbar layui-padding-3" style="margin-top: 10px;margin-bottom: 10px;">
                <form class="layui-form layui-form-pane" onclick="return false;">
                    <table class="layui-table">
                        <colgroup><col width="150"><col></colgroup>
                        <tbody>
                            <tr>
                                <td>节点名称</td>
                                <td><input type="text" name="name" autocomplete="off" placeholder="" lay-verify="required" class="layui-input"></td>
                            </tr>

                            <tr>
                                <td>IP地址</td>
                                <td>
                                    <button type="button" class="layui-btn layui-btn-sm layui-btn-primary" onclick="Admin.open('添加','/{[$.admin_path]}/clusters/cluster/groups_add?cluster_id={[$.cluster_id]}',500,250)">
                                    <i class="layui-icon layui-icon-add-circle"></i>
                                    </button>
                                </td>
                            </tr>

                            <tr>
                                <td>所属分组</td>
                                <td>
                                    <a class="mlink">[选择分组]</a>
                                    <a class="mlink">[添加分组]</a>
                                </td>
                            </tr>

                            <tr>
                                <td>所属区域</td>
                                <td>
                                    <a class="mlink" class="layui-btn" lay-on="select_region">[选择区域]</a>
                                    <a class="mlink" onclick="Admin.open('添加区域','/{[$.admin_path]}/clusters/regions/add',500,330)">[添加区域]</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <button type="submit" class="layui-btn" lay-submit lay-filter="submit">保存</button>
                </form>
                </div>
            <!--  end  -->
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

layui.config({base: '/static/layuiadmin/'}).use(['table','jquery'], function(){
///
var admin = layui.admin
,$ = layui.$
,form = layui.form
,table = layui.table;
var util = layui.util;


// 事件
util.on({
    "select_region": function() {
        layer.open({
            type: 1,
            area: ['500px', '240px'],
            title: '选择所属区域',
            shadeClose: true,
            btn: ['确定', '取消'],
            content: '<div class="layui-padding-3">\
                <table class="layui-table">\
                    <tr>\
                        <td>选择区域</td>\
                        <td>\
                            <button type="button" class="layui-btn layui-btn-primary layui-btn-xs">测试</button>\
                            <p style="margin-top: .5rem;margin-bottom: .5rem;">点击可已选中要使用的区域。</p>\
                        </td>\
                    </tr>\
                </table>\
            </div>',
            success: function (layero) {
                // 鼠标滑动 layer 内部滚动条时移除下拉框，以规避错位
                // 若 layer 内部不存在滚动条，以下代码可删除
                var selectElem = layero.find('.layui-form-select');
                layero.find('.layui-layer-content').on('scroll', function() {
                    selectElem.removeClass('layui-form-selected');
                    layui.$('.layui-select-panel-wrap').detach();
                });
            },
        });
    }
});

///
});
</script>

{[template "backend/common/footer.tmpl" .]}
