{[template "backend/common/header.tmpl" .]}

<div class="layui-fluid">
    <div class="layui-col-md12" style="padding: 5px;">
        <div class="layui-card">
            <div class="layui-card-body">

                <div class="layui-tab layui-tab-brief">
                    <ul class="layui-tab-title" id="status">
                        <li data-status="1"><a href="/{[.admin_path]}/clusters/cluster/boards">集群看板</a></li>
                        <li data-status="2"><a href="/{[.admin_path]}/clusters/cluster/list">节点列表</a></li>
                        <li data-status="3"><a href="/{[.admin_path]}/clusters/cluster/create">创建节点</a></li>
                        <li data-status="4"><a href="/{[.admin_path]}/clusters/cluster/install">安装升级</a></li>
                        <li data-status="5"><a href="/{[.admin_path]}/clusters/cluster/groups">节点分组</a></li>
                        <li data-status="6" class="layui-this">集群设置</li>
                        <li data-status="7"><a href="/{[.admin_path]}/clusters/cluster/delete">其它操作</a></li>
                    </ul>
                </div>

                <div class="layui-form toolbar" style="margin-top: 10px;margin-bottom: 10px;">
                    <button type="button" class="layui-btn layui-bg-red">删除当前集群</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

layui.config({base: '/static/layuiadmin/'}).use(['table','jquery'], function(){
///
var admin = layui.admin
,$ = layui.$
,form = layui.form
,table = layui.table;



///
});
</script>

{[template "backend/common/footer.tmpl" .]}
