{[template "backend/common/header.tmpl" .]}

<div class="layui-fluid">
    <div class="layui-col-md12" style="padding: 5px;">
        <div class="layui-card">
            <div class="layui-card-body">

                <div class="layui-tab layui-tab-brief">
                    <ul class="layui-tab-title" id="status">
                        {[range $menu := .submenu]}
                            <li data-status="{[$menu.Number]}" {[if eq (print "/" $.admin_path "/" $menu.Link) $.CurrentPath]}class="layui-this"{[end]}><a href="/{[$.admin_path]}/{[$menu.Link]}?cluster_id={[$.cluster_id]}">{[$menu.Name]}</a></li>
                        {[end]}
                    </ul>
                </div>

                <div class="layui-row">

                    <div class="left layui-col-md2">
                        
                    </div>

                    <div class="right layui-col-md10">
                        <form class="layui-form layui-form-pane" onclick="return false;">
                        <table class="layui-table">
                            <colgroup><col width="150"><col></colgroup>
                            <tbody>

                                <tr>
                                    <td>SSH主机地址</td>
                                    <td><input type="text" name="ssh_host" autocomplete="off" placeholder="" class="layui-input"></td>
                                </tr>

                                <tr>
                                    <td>SSH主机端口</td>
                                    <td><input type="number" name="ssh_port" autocomplete="off" placeholder="" class="layui-input"></td>
                                </tr>

                                <tr>
                                    <td>SSH登录认证</td><td>
                                    <div id="ssh">
                                        <span id="ssh_btn"></span>
                                        <span id="ssh_origin">
                                            <a class="mlink" onclick="Admin.open('选择区域','/{[$.admin_path]}/clusters/select/region',500,330)">[选择已用认证]</a>
                                            <a class="mlink" onclick="Admin.open('添加区域','/{[$.admin_path]}/clusters/regions/add',500,330)">[添加新认证]</a>
                                        </span>
                                    <div>
                                    </td>
                                </tr>

                                <tr>
                                    <td colspan="2">
                                        <input type="hidden" name="ip" value="127.0.0.1">
                                        <input type="hidden" name="cluster_id" value="{[if .cluster_id]}{[.cluster_id]}{[end]}">
                                        <input type="hidden" name="id" value="{[if .Data]}{[.Data.ID]}{[end]}">
                                        <button class="layui-btn" lay-filter="submit_step2" lay-submit>安装</button>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </form>
                    </div>

                </div>

            <!--  -->    
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

layui.config({base: '/static/layuiadmin/'}).use(['table','jquery'], function(){
///
var admin = layui.admin
,$ = layui.$
,form = layui.form
,table = layui.table;



///
});
</script>

{[template "backend/common/footer.tmpl" .]}
