.h30, .h30 .layui-input {
    height: 32px;
}

.layui-tab-content {
    padding: 10px;
}

.mlink {
    color: #20a53a;
    cursor: pointer;
}

.bls{
    border-left: 2px solid rgb(22, 183, 119);
}

.bls_hover{
    padding: 7px;
}
.bls_hover:hover{
    border-left: 1px solid rgb(22, 183, 119);
}

.ccc_hover{
    padding: 12px 16px;
}
.ccc_hover:hover{
    background: #f9fafb;
    opacity: 1;
    border-left-color:transparent;
}
