<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
    <title>MGO管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/static/layuiadmin/layui/css/modules/laydate/default/laydate.css?v={[BuildCommit]}">
    <link rel="stylesheet" href="/static/layuiadmin/layui/css/layui.css?v={[BuildCommit]}" media="all">
    <link rel="stylesheet" href="/static/layuiadmin/style/template.css?v={[BuildCommit]}" media="all">
    <link rel="stylesheet" href="/static/layuiadmin/style/admin.css?v={[BuildCommit]}" media="all">
    <link rel="stylesheet" href="/static/common/css/common.css?v={[BuildCommit]}" media="all">
    <script src="/static/layuiadmin/layui/layui.js?v={[BuildCommit]}"></script>
    <script src="/static/common/js/jquery-1.10.2.min.js?v={[BuildCommit]}"></script>
    <script src="/static/common/js/clipboard.min.js"></script>
    <script src="/static/common/js/common.js?v={[BuildCommit]}"></script>
    <script src="/static/common/js/xm-select.js?v={[BuildCommit]}"></script>
    <script src="/static/common/js/tag.js?v={[BuildCommit]}23"></script>

</head>

<button style="display: none;" id="mw_copys" class="mw_copy" data-clipboard-text=""></button>