{[template "backend/common/header.tmpl" .]}

<div class="layui-fluid">
    <div class="layui-col-md12" style="padding: 5px;">
        <div class="layui-card">
            <div class="layui-card-body">

                <div class="layui-tab layui-tab-brief">
                    <ul class="layui-tab-title" id="status">
                        {[range $menu := .submenu]}
                            <li data-status="{[$menu.Number]}" {[if eq (print "/" $.admin_path "/" $menu.Link) $.CurrentPath]}class="layui-this"{[end]}><a href="/{[$.admin_path]}/{[$menu.Link]}?node_id={[$.node_id]}">{[$menu.Name]}</a></li>
                        {[end]}
                    </ul>
                </div>

                <div class="layui-row" style="margin-top: 10px;font-size: 12px;">

                    <div class="layui-col-md2 menu_list_left">
                        <div class="bg" style="margin-top: 3px;">
                            {[range $smenu := .setting_menu]}
                                {[if eq $smenu.Type "line"]}
                                <div class="line"></div>
                                {[else]}
                                <a href="/{[$.admin_path]}/{[$smenu.Link]}?node_id={[$.node_id]}" {[if eq (print "/" $.admin_path "/" $smenu.Link) $.CurrentPath]}class="select"{[end]}>{[$smenu.Name]}</a>
                                {[end]}
                            {[end]}
                        </div>
                    </div>

                    <div class="layui-col-md10">
                        <div style="background: #fff; border-radius: 8px;margin-left: 8px;">
                        <form class="layui-form layui-form-pane" onclick="return false;">
                            <table class="layui-table">
                                <colgroup><col width="150"><col></colgroup>
                                <tbody>
                                    <tr>
                                        <td>SSH主机地址 *</td>
                                        <td>
                                            <div class="layui-input-inline">
                                                <input type="text" name="host" autocomplete="off" class="layui-input" value="{[if .Data]}{[.Data.GetParams.Host]}{[end]}" placeholder="">
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>SSH主机端口 *</td>
                                        <td>
                                            <div class="layui-input-inline">
                                                <input type="number" name="port" autocomplete="off" class="layui-input" value="{[if .Data]}{[.Data.GetParams.Port]}{[end]}" placeholder="">
                                            </div>
                                            <p class="layui-font-12 pt5">比如22。</p>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>SSH登录认证</td><td>
                                        <div class="ssh">
                                            <span class="ssh_btn"></span>
                                            <span class="ssh_origin">
                                                <a class="mlink" onclick="Admin.open('选择已用认证','/{[$.admin_path]}/clusters/select/ssh',850,510)">[选择已用认证]</a>
                                                <a class="mlink" onclick="Admin.open('添加新认证','/{[$.admin_path]}/clusters/ssh/add',750,510)">[添加新认证]</a>
                                            </span>
                                        <div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td colspan="2" >
                                            <input type="hidden" name="node_id" value="{[if .node_id]}{[.node_id]}{[end]}">
                                            <button class="layui-btn" lay-filter="submit_setting_ssh" lay-submit>保存</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                        </div>
                    </div>
                </div>
                <!-- end -->
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

layui.config({base: '/static/layuiadmin/'}).use(['table','jquery'], function(){
///
var admin = layui.admin
,$ = layui.$
,form = layui.form
,table = layui.table;

window.loadSshBtn = function(){
    $('.ssh_btn .remove').bind('click',function(){
        $(this).parent().parent().remove();
        $('.ssh_origin').show();
    });
}

form.on("submit(submit_setting_ssh)", function(data){
    var index = layer.load();
    var field = data.field;

    $.post("/{[$.admin_path]}/clusters/node_login/add", field, function(res) {
        showMsg(res.msg, function(){
            layer.close(index);
            if(res.code > -1){
                parent.location.reload();
            }
        },{icon: res.code > -1 ? 1 : 2,shift:res.code>-1 ? 0 : 6});
    },'json');
    return false;
});

///
});
</script>

{[template "backend/common/footer.tmpl" .]}
